body {
	background-color: rgba(0,146,221,0.9);
	/*background-color: rgba(237,235,21,0.7);*/
	font-family: 'Raleway', sans-serif;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.9);
}
.nav > li {
    display: block;
    height: 35px;
    position: relative;
}
.navbar-nav > li > a {
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,146,221,0.5);
}

#logo {
	width: 200px;
}

.boxadmin {
	background-color: rgba(255,255,255,0.5);
	padding: 50px;
}
.logoadmin img{
	width:50%;
}

.panel  {
	background: rgba(17,17,17,0.5);
}
.news-description{
	color: #fff;
	padding: 5px 20px;
}
#tabletitle {
	background-color:  rgba(255, 255, 255, 0.8);
	color: rgba(0,146,221,0.9);
	text-align: center;
}

.menu-match-programme{
	background-color: #47b2e9;
	padding: 10%;
	color: #fff;
}

.menu-match-programme-12 a:hover{
	background-color: rgba(0,146,221,0.5);
}

#rubrik{
	background: url("http://localhost/aremastatistik/assets/img/bg-stadium.png") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.clear{
	height: 200px;
}

.pageImages {
		text-align: center;
}
.pageImages img{
	width: 50%;
}

.pageTitle{
	padding-top:3%;
	color: #fff;
	text-align: center;
	line-height: 24px;	
	background-color: rgba(0,0,0,0.1);
}
.pageContent{
	color: #fff;
	padding: 0 10% 5% 10%;
	text-align: justify;
	line-height: 24px;
	background-color: rgba(0,0,0,0.1);
}

#footer{
	background-color: #fff;
	padding: 20px;
}

.title-news h1{
	color: #fff;
	text-transform: none;
}

.title-news h2{
	color: #fff;
	text-transform: none;
}

.title{
	font-weight: 800;
    letter-spacing: -2px;
	text-transform: none;
}

.btn-warning {
    background-color: rgba(237, 235, 21, 0.9);
    color: rgba(0, 146, 221, 0.9);
	padding: 10px 20px;
}